@media print {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    @page {
        size: A4;
    }

    #logo {
        margin-top: auto;
    }

    #print-row {
        display: flex;
        clear: both;
        break-after: avoid !important;
        break-before: always !important;
        break-inside: avoid !important;
        padding-top: 2rem;
    }

    #para {
        min-width: 6rem;
    }

    #question-container {
        flex-grow: 1;
    }

    #option-container {
        display: flex;
    }

    #option-text {
        margin-right: 2rem;
    }

    #print-btn {
        display: none;
    }

    #container {
        background-color: white;
        padding: 0;
    }
}

hr {
    margin: 0;
    border-color: black;
}

#header {
    display: flex;
}

#inner-header {
    width: 100%;
}

#inner-header > h4 {
    margin: 0;
}

#logo {
    margin-top: auto;
}

p {
    margin-top: 0;
}

#para {
    font-size: large;
    font-weight: bolder;
}

#container {
    background-color: white;
}

#inner-container {
    position: relative;
}

#print-btn {
    position: absolute;
    right: 0;
    margin-right: 16px;
}

#option-container {
    display: flex;
    flex-grow: 1;
}

#option-text {
    min-width: 3rem;
}
