@media print {
    @page {
        size: A4;
    }

    #print-row {
        display: flex;
        clear: both;
        break-after: avoid !important;
        break-before: always !important;
        break-inside: avoid !important;
        padding-top: 4rem;
    }

    #para {
        min-width: 6rem;
    }

    #question-container {
        flex-grow: 1;
    }

    #option-container {
        display: flex;
    }

    #option-text {
        margin-right: 2rem;
    }

    #print-btn {
        display: none;
    }
}

#container {
    background-color: white;
    padding: 0 1rem;
}

#option-container {
    display: flex;
    flex-grow: 1;
}

#option-text {
    min-width: 3rem;
}
